@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Miosotis, 969<br />
    Duque de Caxias - Betim/MG<br />
    <abbr title="Phone">Telefone :</abbr>
    (31) 9 8573-1561
</address>

<address>
    <strong>E-mail 1:</strong> <a href="mailto:Support@example.com">reiguitarra@gmail.com</a><br />
    <strong>E-mail 2:</strong> <a href="mailto:Marketing@example.com">rei_almeida@yahoo.com</a>
</address>
