@model ControleVendas.Models.ViewModels.SellerFormViewModel;


@{
    ViewData["Title"] = "Vendedor";
}

<h2>@ViewData["Title"]</h2>

<h4>Adicionar Vendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vendedor.Name" class="control-label">Nome</label>
                <input asp-for="Vendedor.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.Email" class="control-label">E-mail</label>
                <input asp-for="Vendedor.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.BirthDate" class="control-label">Nascimento</label>
                <input asp-for="Vendedor.BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.BaseSalary" class="control-label">Salário Base</label>
                <input asp-for="Vendedor.BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.DepartmentId" class="control-label">
                    <select asp-for="Vendedor.DepartmentId"
                            asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control">
                    </select>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}